[2015-11-20 17:17] bahmutov opened #9 "Crashes with undefined input"
Sometimes if called without an actual message, crashes badly trying to get the first line. For example from `pre-git` use

[code]

[2015-11-20 17:19] bahmutov commented on #9
but this happens outside the validateMessage function, so not covered by unit tests
[code]

[2015-11-30 21:27] angelblade27 opened #11 "Validating commit msg against all commits which are ahead"
Is there a way to validate all the commits which are ahead of a origin branch?
My use case is this I don't want to validate on every single commit message as my team does a bunch of micro commits however when they do a push I want to validate all the commit messages that are being pushed. It seems to only do the last one by default

[2016-01-06 23:05] SomeKittens opened #13 "Does not allow npm version commits"
I'd like at least a flag to allow npm version commits:

[2016-01-26 19:03] mramato opened #16 "crash when trying to commit"
Originally discussed in https://github.com/karma-runner/karma/pull/1816 but they suggested I open an issue here.

Whenever I try to commit to the karma repository (or rather my fork of it), validate-commit-msg crashes with the following error:

[code]

This happens when the commit message is valid.

Here are my system specs:
Windows 7
Node 4.2.x LTS
Git version 2.6.2.windows.1

Let me know if ther

[2016-02-01 15:23] cmalard opened #18 "Issue with non-unix line endings"
I spent some time trying to understand why I couldn't validate my commit message.
My editor had switched line endings to Windows `\r` so the regexp was not matched... and it was hard to find why :-)

We should tell what is going on or support other types of line endings.

[2016-02-02 14:00] kentcdodds commented on #9
I need to give you an apology. For some reason, I want watching this repository so I want getting notifications about issues and pull requests. I am so incredibly sorry. Please forgive me. I really feel awful. I hope my unresponsiveness doesn't hinder you contributing more in the future.

As for your specific pull request, I'll give it a closer look soon.

[2016-02-02 14:00] kentcdodds commented on #11
I need to give you an apology. For some reason, I want watching this repository so I want getting notifications about issues and pull requests. I am so incredibly sorry. Please forgive me. I really feel awful. I hope my unresponsiveness doesn't hinder you contributing more in the future.

As for your specific pull request, I'll give it a closer look soon.

[2016-02-02 14:00] kentcdodds commented on #13
I need to give you an apology. For some reason, I want watching this repository so I want getting notifications about issues and pull requests. I am so incredibly sorry. Please forgive me. I really feel awful. I hope my unresponsiveness doesn't hinder you contributing more in the future.

As for your specific pull request, I'll give it a closer look soon.

[2016-02-02 14:00] kentcdodds commented on #16
I need to give you an apology. For some reason, I want watching this repository so I want getting notifications about issues and pull requests. I am so incredibly sorry. Please forgive me. I really feel awful. I hope my unresponsiveness doesn't hinder you contributing more in the future.

As for your specific pull request, I'll give it a closer look soon.

[2016-02-02 14:00] kentcdodds commented on #18
I need to give you an apology. For some reason, I want watching this repository so I want getting notifications about issues and pull requests. I am so incredibly sorry. Please forgive me. I really feel awful. I hope my unresponsiveness doesn't hinder you contributing more in the future.

As for your specific pull request, I'll give it a closer look soon.

[2016-02-02 16:15] #9 closed

[2016-02-02 16:26] kentcdodds commented on #11
You are correct. This repository is specifically used as a `commit-msg` hook. But perhaps it could be enhanced to separate the commit validation api and the cli behavior. If you'd be interested, I'd happily accept a pull request that separates the cli behavior from the validation function. This would clean up the code quite a bit as well. :+1:

Let me know what you think.

[2016-02-02 16:38] kentcdodds commented on #13
Waiting on @jcollado to respond to my comment on his PR. Thanks for your patience :-)

[2016-02-02 16:44] kentcdodds commented on #16
This should be fixed by #10 Let me know if it's not.

[2016-02-02 16:44] #16 closed

[2016-02-02 16:45] mramato commented on #16
Awesome, thanks.  There's no need to apologize, I know maintaining an OSS project is anything but easy.

[2016-02-02 16:46] kentcdodds commented on #18
Thanks for the issue @cmalard! I would actually recommend that you configure your editor to use unix style line endings. It's better for everyone if we use the same style.

However, if you'd like to submit a PR to support both I'd be happy to accept it.

[2016-02-02 17:41] #13 closed

[2016-02-02 21:28] SomeKittens commented on #13
Thanks, Kent!  Greenkeeper.io has informed me that this breaks my build so let me look into this.

[2016-02-02 21:29] kentcdodds commented on #13
Thanks!

[2016-02-03 15:06] cmalard commented on #18
In fact I'm on Linux and my editor is configured to use Unix style so I don't figure what happened. Anyway :-)

[2016-02-03 15:30] kentcdodds commented on #18
Would you like to create a PR to fix this or are you ok closing it?

[2016-02-03 15:48] cmalard commented on #18
I do not commit myself on making a PR, maybe one day ^^
The issue will stay until then, so it's up to you to close it if you want `0 issue` but I do not vote for that ;-)

[2016-02-29 12:41] JamieMason opened #20 "Question on installation"
I think I must be doing something wrong here, I can't get validate-commit-msg to run.

The relevant bits of my package.json are;

[code]

I run `npm install` etc and example usage is;

[code]

I'd expect the validator to throw, but nothing happens. I added;

[code]

to the top of `node_modules/validate-commit-msg/index.js` to be sure, but this doesn't appear. While in there I noticed;

[code]

Am

[2016-02-29 18:23] kentcdodds commented on #20
Hmmm... That comment is dated and should be removed. `ghooks` should install the commit hook for you. My guess is that it's a `ghooks` issue. Does your `pre-commit` hook run?

[2016-03-01 14:37] JamieMason commented on #20
Thanks @kentcdodds, I created an isolated test case which _does_ work — so something else is going on in my setup.

Closing, thanks for your help :+1:

[2016-03-01 14:37] #20 closed

[2016-03-02 13:48] dritter opened #21 "Link to angular.md is dead"
Hi there!

The link to the `angular.md` in the project description is dead. It should be https://github.com/ajoslin/conventional-changelog/blob/v0.5.3/conventions/angular.md

[2016-03-02 15:43] kentcdodds commented on #21
:+1: yeah, I've had to go around updating a bunch of projects because of that change! Would you like to [makeapullrequest.com](http://makeapullrequest.com)? :-)

[2016-03-02 15:44] kentcdodds commented on #21
Actually @dritter, I think this would make a good [first-timers-only](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) issue. Do you mind holding off on making a pull request to give a newbie a chance to try contributing?

[2016-03-02 15:45] kentcdodds commented on #21
Oh... :sweat_smile: just realized you're actually talking about the repo meta-data, not anything that can be committed to the repo.... That's been fixed. Thanks!

[2016-03-02 15:45] #21 closed

[2016-03-02 20:22] dritter commented on #21
Yep. I meant the repo metadata. :smile: Thx for the quick fix.

[2016-03-02 21:29] kentcdodds commented on #21
Thanks for letting me know!

[2016-03-06 17:04] Pajn opened #25 "Fallback to finding config in same folder as node modules"
We have multiple projects in a single repository, I placed a package.json in the root which runs installs this package, but as it checks for a config in the cwd rather than the package.json it's installed from I can't set any config.

Something like this

[code]

[2016-03-06 18:28] kentcdodds commented on #25
Makes sense. I'd actually like to allow for configuring this with an `rc` file like `.validate-commit-msgrc` or something like that... Either way, I'd be interested to see a PR for this :+1:

[2016-03-13 06:00] tusharmath opened #26 "Ignore merge commits"
The default merge commit looks like —

[code]

which should be allowed. Though the alternative is to pass `--no-verify`.

[2016-03-13 06:23] kentcdodds commented on #26
Good point. Would you be interested enough to [makeapullrequest.com](http://makeapullrequest.com)?

[2016-03-13 14:40] #26 closed

[2016-04-07 08:42] deser opened #31 "Error when trying to commit"
Error: missing wizard prompter validate-commit-msg {
  "config": {}
}
    at lazyAssLogic (\node_modules\pre-git\node_modules\lazy-ass\index.js:93:14)
    at lazyAss (\node_modules\pre-git\node_modules\lazy-ass\index.js:98:28)
    at Object.pickWizard [as wizard] (\node_modules\pre-git\src\pre-git.js:317:3)
    at Object.<anonymous> (\node_modules\pre-git\bin\commit-msg.js:11:23)
    at Module._co

[2016-04-07 15:46] kentcdodds commented on #31
My guess is this is a pre-git issue. @bahmutov?

[2016-04-07 16:02] bahmutov commented on #31
Oh my! we need to move this issue to bahmutov/pre-git somehow

[2016-04-07 16:33] #31 closed

[2016-04-07 16:33] kentcdodds commented on #31
@deser, please file this issue here: https://github.com/bahmutov/pre-git/issues/new

[2016-04-07 17:05] deser commented on #31
done

[2016-04-07 17:05] deser commented on #31
Thanks guys

[2016-04-12 17:18] erquhart opened #32 "Print entire commit message to console on failure"
If a developer takes time to write a solid, multiple line commit message, and the message fails the hook, they may lose the message entirely depending on how it was created.

To address this, I propose adding an option (or just changing the default behavior, sans option) to print the entire commit message on failure.

Thoughts?

[2016-04-12 17:50] kentcdodds commented on #32
I definitely think this would be handy. I believe it's already supported with [`helpMessage`](https://github.com/kentcdodds/validate-commit-msg#helpmessage). Let me know if that doesn't work for some reason.

[2016-04-12 17:50] kentcdodds commented on #32
Sorry, clicked the wrong button. Please close if this resolves the issue!

[2016-04-12 17:51] erquhart commented on #32
Yep, you're right, if the placeholder in helpMessage provides all content from multiple line commit messages, then we're good.

[2016-04-14 15:32] erquhart commented on #32
@kentcdodds nope, looks like that placeholder only prints the first line of the commit message.

[2016-04-14 15:43] kentcdodds commented on #32
Sad day. Well, feel free to [makeapullrequest.com](http://makeapullrequest.com). Let me know if you need any direction.

[2016-04-14 20:03] erquhart commented on #32
Nice work @Emmurillo! Closing.

[2016-04-14 20:03] #32 closed

[2016-04-18 11:44] opatut opened #35 "Merge commit pattern broken"
My git generates the following message:

This does not fit the [current pattern](https://github.com/kentcdodds/validate-commit-msg/blob/master/index.js#L27) `/^Merge branch \'.*\' .*$/`. Can we change it to `/^Merge (remote-tracking )?branch \'.*\' .*$/` or even `/^Merge.*branch \'.*\' .*$/`?

[2016-04-18 11:55] opatut commented on #35
After a bit of research, it seems not even the "branch" substring must be present in the git generated message. Only the `/^Merge/` is hard-coded into `git-fmt-merge-msg`, see [fmt-merge-msg.c:418](https://github.com/git/git/blob/master/builtin/fmt-merge-msg.c#L418).

Hence, the regex might need to be very permissive in order to prevent false negatives. Though I expect people will sometimes start

[2016-04-18 14:39] #35 closed

[2016-07-15 00:54] gtramontina opened #37 "auto correct first letter of the subject to lower case"
Hey there,
I found [these comments](https://github.com/kentcdodds/validate-commit-msg/blob/d8a2d19a387e070ab115683443c8b3397ee1aba0/index.js#L91-L99) in the source code:

We've recently adopted this format in a client and are using `git-cz` to help people with their commit messages. We are not yet enforcing the format, but most of the feedback are around people not following the "don't capitalize

[2016-07-15 01:49] kentcdodds commented on #37
I think it'd be cool to be able to configure validate-commit-msg to auto-fix stuff. This would be opt-in functionality. Feel free to make a PR for that 😄

[2016-07-22 14:28] joaocunha opened #38 "Feature request: validate rebases through post-rewrite"
I'm not entirely sure if it's possible... but a great enhancement would be to also validate on `git rebase -i`.

We squash our commits prior to opening a PR, so running `git rebase -i master` will bypass the `commit-msg` validation.

From the [docs](https://git-scm.com/docs/githooks):

[code]

[2016-07-22 16:24] kentcdodds commented on #38
I'm fairly certain that you could actually use this with the `post-rewrite` hook. [This](https://github.com/kentcdodds/validate-commit-msg/blob/d8a2d19a387e070ab115683443c8b3397ee1aba0/index.js#L132) is where it gets the commit message file. What changes do you think would be needed to support `post-rewrite`?

[2016-07-27 00:08] joaocunha commented on #38
Ok, so two things:

1. The `git commit --amend` feature works even without the `post-rewrite` hook. Works as expected.
2. But if I add the rewrite hook, rebasing is no good, tho:

[code]

As you can see, the validation ran twice, but the rebase was actually successful.

Also, it doesn't validate rebases without a `post-rewrite` hook (expected behavior).

[2016-07-27 00:14] joaocunha commented on #38
Adding to that, if I write a valid commit message, it runs once and works fine.

With `WIP`:
[code]

With `feat()`:
[code]

Hope this helps, @kentcdodds!

[2016-07-27 01:22] kentcdodds commented on #38
Not certain I understand exactly 100%, but if you know what needs to happen, feel free to [makeapullrequest.com](http://makeapullrequest.com) :)

[2016-07-29 14:43] mloayzagahona commented on #38
@kentcdodds

I have a similar issue. I was trying to rebase like this:
[code]

The commit was created without the commit message format. It shown the error, but it is not canceling or rejecting the commit action for rebase (squashing commits)

Thanks

[2016-07-29 14:52] joaocunha commented on #38
@kentcdodds I have edited my comment so you can better understand what's up: https://github.com/kentcdodds/validate-commit-msg/issues/38#issuecomment-235443884

[2016-07-29 15:00] kentcdodds commented on #38
Yeah, I'm not sure how to solve this issue, but if you come up with something a pull request would be welcome :)

[2016-09-19 12:07] hisabimbola opened #43 "validate-commit-msg breaks on new version of validate-conventional-types"
validate-conventional-types just released a new [version](https://github.com/adjohnson916/conventional-commit-types/commit/f902eada2a5ecfa79160276e4d8aadc8fe00a7e2) that includes additional commit types. This module is throwing errors when it's being used because it's not recognised. validate-conventional-types is being used in commitzen-cli.

The fix will be to fetch all commit types from validat

[2016-09-19 12:17] hisabimbola commented on #43
I just looked through the code and I saw that there is a feature to add load external module or dependency, I think that fixes this issue but since commitzen uses the module to load commit types, shouldn't this module do likewise, and make it the standard.

[2016-09-23 02:25] #43 closed

[2016-10-13 10:11] jackyr opened #47 "Need to support build/ci validate type"
Need to support build/ci validate type, in order to keep sync with the latest version of cz-conventional-changelog (conventional-commit-types, version 2.1.0).

![image](https://cloud.githubusercontent.com/assets/4645227/19344719/e10504d8-916d-11e6-850f-ed3ab1da2cfc.png)

I will submit a PR for this.

[2016-10-13 16:06] #47 closed

[2016-12-02 01:41] cdaringe opened #51 "commit message is from my previous commit"
# problem

when i do `git commit -m 'SOME BOGUS COMMIT MSG'`, the content in `.git/COMMIT_EDITMSG` is my _last_ commit, not the commit currently in process, therefore bogus commit msg isn't caught

# discussion

- is that a git issue? v2.9.2, osx

[2016-12-02 01:41] cdaringe commented on #51
whoops, wrong git hook. nm!

[2016-12-02 01:41] #51 closed

[2016-12-18 22:04] oneezy opened #52 "UNRELATED QUESTION: How'd you make your dynamic [![BADGES] in the README ?"
I've been wondering how I could automate this!

But upon _Copying n' Pasting_ your code, I didn't have any luck 😢

[code]

[2016-12-18 22:07] oneezy commented on #52
I'm stupid. I see now at the bottom how you've included them.

[code]

, still it would be nice if Github was smart enough to auto-generate some of this stuff

[2016-12-18 22:08] #52 closed

[2016-12-18 22:09] kentcdodds commented on #52
The actual URLs are at the bottom (that's a markdown feature). I use a generator for my projects: [generator-kcd-oss](https://github.com/kentcdodds/generator-kcd-oss)

[2016-12-18 22:11] oneezy commented on #52
Yep. I was right in the middle of referencing yeoman in my comment when I read your response. That seems like a safe bet.

Thanks

[2016-12-18 22:22] oneezy opened #53 "404 Error: Clicking on "LICENSE" Badge"
Just going through I noticed that your license badge link is going to a 404.
https://github.com/kentcdodds/validate-commit-msg/blob/master/other/LICENSE

**The culprit being:**
`https://github.com/kentcdodds/validate-commit-msg/blob/master/ `**`      OTHER      `**` /LICENSE`

[2016-12-18 22:55] kentcdodds commented on #53
Cool, thanks for finding that. Could you [makeapullrequest.com](http://makeapullrequest.com)?

[2016-12-21 21:39] oneezy commented on #53
On another note, trying **Attempt 1**, this raises a few questions..

By default `semantic-release` will push everything up to NPM, but since this is a Forked repo, that step isn't really necessary. Is semantic release smart enough to know the difference or is this something that the developer needs to be aware of?

I'm pretty fresh w/ semantic-release  so I'm not sure about these small intricacie

[2016-12-21 22:48] kentcdodds commented on #53
Hey @oneezy,
I apologize that you had these difficulties! I've just worked on things to make them a little more straightforward and hopefully improve your contributing experience!

Could you follow the new [Contributing guidelines](https://github.com/kentcdodds/validate-commit-msg/blob/master/CONTRIBUTING.md) and let me know whether that works better for you.

As with `semantic-release`, you shoul

[2017-01-20 22:37] #37 closed

[2017-01-21 19:20] spirosikmd commented on #53
I hope it's ok I went through and fix that @oneezy!

[2017-01-21 20:16] #53 closed

[2017-01-22 19:18] spirosikmd commented on #25
@kentcdodds I like your idea using an `rc` file. I was thinking we could support `.vcmrc`, and `package.json`. In the order that if `rc` is not present, then `package.json` is used. What do you think?

[2017-01-22 19:24] kentcdodds commented on #25
Sounds great to me!

[2017-01-22 19:40] spirosikmd commented on #25
Ok great! I will take a look and submit a PR.

[2017-01-23 03:56] travi opened #63 "can't find validateMessage after updating to v2.10.0"
looks like this is likely related to [moving validateMessage to lib](https://github.com/kentcdodds/validate-commit-msg/pull/61)

I haven't had a chance to dig deeper than reverting back to v2.9.0, but wanted to at least give you a heads up about the issue.

[code]

[2017-01-23 04:03] kentcdodds commented on #63
Thanks for the quick report! The new version should be auto-released in a moment. Was a simple oversight: ea45ffd

[2017-01-23 04:09] travi commented on #63
thanks for the quick fix, too!

also, thanks for your work on tools that encourage auto-releasing packages. this package in particular has become an important part of my team's pipeline, to simplify our own use of semantic-release. paired with greenkeeper and [greenkeeper-keeper](https://github.com/greenkeeper-keeper/meta), the combo can be powerful.

[2017-01-23 04:37] kentcdodds commented on #63
That's awesome to hear! I'm so glad that it's been helpful to you!

[2017-04-03 21:56] standy opened #72 "Cannot find ".git" in parent directory"
Getting an error `Error: Cannot find file ./.git` because my package.json in subfolder from git root. Husky works fine with `find-parent-dir`: https://github.com/typicode/husky/blob/master/src/index.js#L29
Im pretty sure this package should do the same way

[2017-04-03 22:10] kentcdodds commented on #72
Thanks for bringing this up. That solution sounds good to me! Want to [makeapullrequest.com](http://makeapullrequest.com)?

[2017-04-03 23:15] standy commented on #72
Sure, I will do it

[2017-04-04 10:11] #72 closed

[2017-04-25 02:33] krishna63 opened #75 "Commits are staging even though wrong commit message is provided"
Hi Team,
I have forked this [project | https://github.com/kentcdodds/validate-commit-msg.git] and trying to understand how it works, so made small modifications like adding empty line in package.json and executed the following code in the git GUI

git commit -am "testing purpose"
 Expectation: I am expecting an error to appear saying that "Please fix your commit message"and stop the the commit to

[2017-04-25 02:46] kentcdodds commented on #75
It's because our commit hook is [set to](https://github.com/kentcdodds/validate-commit-msg/blob/e3a81f8298427b94be01e7ea305505ee6005cec8/package.json#L10):

[code]

This is using [opt-cli](https://www.npmjs.com/package/opt-cli) so new users contributing to the project don't have the scripts run, meaning the barrier to contributing is lowered. If you want to opt-into the git hooks, then create a fi

[2017-04-25 02:46] #75 closed

[2017-05-05 00:14] ntgn81 opened #76 "Make message format configurable"
We have a bit different structure for commit message than what you have here, though I'd love to use this package as part of our workflow.

What do you think about making the message format configurable?

[code]

Then we'd overwrite it with our own format, which is: `<type> <scope>: <subject>`

I can definitely try to make a PR if this sounds like a good idea.

Edit: Now that I think about it a bi

[2017-05-05 15:04] kentcdodds commented on #76
Hi @ntgn81,
I'm not sure that I want to introduce more complexity into the tool. I would be willing to look at a pull request, but I wont personally be able to work on this.

You may also try looking at [`validate-commit`](https://github.com/willsoto/validate-commit).

[2017-05-05 15:04] #76 closed

[2017-05-05 18:44] ntgn81 commented on #76
@kentcdodds , that makes total sense. I'll take a look at `validate-commit`, thanks!

[2017-05-26 11:08] krishna63 opened #77 "Not throwing error when we ran from GIT GUI with husky"
Hi team,

I have installed husky and configured `commitmsg` hook to validate the commit message, when i try to commit form  the git bash it is executing properly but when i try to commit from git GUI it is not throwing error, instead it is commiting.

Initially i was thinking that husky was skipping the hooks when i commit from git GUI. but when i configured another hook `prepush`, which executes

[2017-05-26 12:32] Garbee commented on #77
Which GUI are you using? Some may force no hooks when committing which would bypass the test.

[2017-05-26 12:41] AntonioRedondo commented on #76
Unfortunately [`validate-commit`](https://github.com/willsoto/validate-commit) doesn't implement custom regex validation either (though this could change soon).

[2017-05-26 14:28] naxhh opened #78 "Release as a default type?"
In my company we use this package in a few projects. We always end up hardcoding the types because we use `release` for commits that upgrade the package version or commits that produce a new shrinkwrap etc..

How do you feel about adding `release` as a default type?

[2017-05-26 19:26] kentcdodds commented on #78
Hi @naxhh, this project [defaults to](https://github.com/kentcdodds/validate-commit-msg/blob/master/lib/validateMessage.js#L25) [`conventional-commit-types`](https://github.com/adjohnson916/conventional-commit-types). You might file an issue there, but I'm pretty sure that they'll probably want to stick to the standard. You could fork it and use your fork instead. See the docs on `types` :)

Good

[2017-05-26 19:26] #78 closed

[2017-05-27 16:57] naxhh commented on #78
[code]

I didn't saw this when reviewing the readme. that solves my issue.

Thanks a lot for your time

[2017-05-27 17:10] kentcdodds commented on #78
Sure thing!

[2017-05-29 05:36] krishna63 commented on #77
@Garbee : I am using GIT GUI on windows machine, so you are saying that GUI is skipping the hooks, if that is the case then, when i run some other command like `jest` which executes all the test case in my project. I am intentionally failing a particular test and then trying to commit.

So now the commit is aborted as the test case are failing. whereas when i use `validate-commit-msg` it is not ha

[2017-05-29 12:46] kentcdodds commented on #77
Ah, interesting. I've not seen this. Could you dig a little deeper to find the core problem and suggest a solution? Thanks!

[2017-05-30 11:35] pradeeptinku commented on #77
@krishna63, @kentcdodds
[cli.js](https://github.com/kentcdodds/validate-commit-msg/blob/master/lib/cli.js) is looking for the commit message from '.git/COMMIT_EDITMSG' file irrespective of mode of committing the code (GIT BASH or GIT GUI  or GITHUB)
GIT GUI will be storing the commit message in '.git/GITGUI_EDITMSG' file and we are [reading](https://github.com/kentcdodds/validate-commit-msg/blob/m

[2017-05-30 17:13] kentcdodds commented on #77
Sounds great. Thanks for digging! I'd love to see a PR for this!

[2017-05-31 02:24] krishna63 commented on #77
@pradeeptinku : thank you.

@kentcdodds : i have created the PR, have a look and process further.
[PR](https://github.com/kentcdodds/validate-commit-msg/pull/79)

[2017-06-05 08:16] stevemao commented on #25
What about using https://www.npmjs.com/package/cosmiconfig?

[2017-06-05 08:17] stevemao opened #83 "confusing option scope.validate"
if you set

[code]

It doesn't actually validate scope. Unless you specify `scope.validate` to be `true` as well. So what's the point of `scope.validate`? It doesn't do anything except enabling other `scope` options.

[2017-06-05 12:04] Garbee commented on #83
`scope.validate` enables the validation. `scope.required` means a scope is required to be provided in commit messages.

[2017-06-05 12:34] stevemao commented on #83
Yeah but when I specify other scope options I already mean to validate it. If not I just turn off all scope options.

[2017-06-05 13:16] stevemao opened #84 "Use conventional-commits-parser?"
Both [`conventional-changelog`](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog) and `validate-commit-msg` started with the angular.js project. The initial code of parsing the commit messages is almost the same. In order to scale well, I divide conventional-changelog into a few smaller modules. [conventional-commits-parser](https://githu

[2017-06-05 14:44] jimthedev commented on #84
Hi @stevemao. Good to know. I'll have to check it out further.

Commitizen itself probably won't use it since we (selfishly / naively) don't actually care much about semantics at the moment. We're really just a wrapper for git that accepts a string.

Commitizen has lots of adapters customized for the business/organization to allow for custom fields or to modify/delete some of the conventional-chan

[2017-06-05 15:06] Garbee commented on #83
ah yea, I see what you mean. hmm... Let me look into fixing that and remove the `validate` boolean.

[2017-06-05 15:24] kentcdodds commented on #84
Hi friends! I haven't taken the time to read this thread yet. But I should say that I have very little interest in maintaining this project any further, so if anyone wants to take it from me (or if we want to consolidate on another solution) that'd be awesome.

[2017-06-05 15:25] jimthedev commented on #84
@stevemao Do you want to move this repo into conventional-changelog?

[2017-06-05 15:45] Garbee commented on #83
So, after doing the tweak to remove the option and looking through the tests to fix up. I feel like it is a backwards incompatible change to handle this in 2.x.

I would like to address this though, perhaps along with an ES6 rewrite that has been discussed as well to clean stuff up a bit.

[2017-06-05 15:46] kentcdodds commented on #83
Might not be a bad idea to do an entire re-write. It's not a huge module after all. Also there's talk in #84 about making some big changes as well I think.

[2017-06-05 23:56] stevemao commented on #84
@jimthedev love to 😄 I can add you guys to the org. No problem!

[2017-06-07 15:16] danielo515 opened #85 "How to make multi-line commits"
Hello,

I want to use your tool to enforce a commit style on my repository, but I need to be able to make multi line commits. I have a monorepo and this is a very important feature. My commits looks like this:

[code]

I tried updating the subject patten to be `"subjectPattern": "[.\n]+",` but that didn't worked neither.

Any guidance will be welcome.

Regards

[2017-06-14 13:13] danielo515 commented on #85
Any help with this? I can't find any answer digging around
Thanks

[2017-06-14 13:49] kentcdodds commented on #85
Sorry @danielo515, I'm unsure I understand what about the current set up is preventing you from formatting your commits in that way... Do you mean you want to _enforce_ that they're formatted in that way? If so, that's out of the scope for this project. We have a very specific format and don't plan on changing it. Help us understand how to help you.

[2017-06-15 07:22] danielo515 commented on #85
@kentcdodds I thought this module was to enforce angular style, which admits line breaks. So, does  validate-commit-msg only allow one line comments? If so, you may want to explicitly say this.

[2017-06-15 13:11] kentcdodds commented on #85
I'm 99% sure that the commit message you have above will pass `validate-commit-msg`...

[2017-06-16 17:13] kentcdodds opened #88 "Transfer to conventional-changelog"
I remember someone suggesting that we transfer this repo to the [`conventional-changelog`](https://github.com/conventional-changelog) org. I think that'd be a great idea. I'm not really interested in maintaining this package anymore (I still use it, I just consider it "done" and don't want to keep updating it). Who would be the best point of contact to transfer the repo? Who's interested in mainta

[2017-06-16 17:17] Garbee commented on #88
Issue #84 was the origination of the discussion on this. I'm open to helping maintain it. I was already looking at doing a ES-2016 update to the base this weekend as well as fixing #83 in the process (since it would end up being a major rev.)

[2017-06-16 17:19] kentcdodds commented on #88
@Garbee, what's your npm username? I'll add you to publishers.

[2017-06-16 17:21] Garbee commented on #88
Just `garbee` [there](https://www.npmjs.com/~garbee) as well.

[2017-06-16 17:23] kentcdodds commented on #88
You're in! 👍 https://www.npmjs.com/package/validate-commit-msg

[2017-06-16 23:05] stevemao commented on #88
@Garbee I have invited you to the org. @kentcdodds Would you be able to transfer this repo to the org? https://github.com/conventional-changelog

[2017-06-16 23:36] kentcdodds commented on #88
I'm getting:

[2017-06-17 00:46] stevemao commented on #88
sorry @kentcdodds, I have changed you as an owner. Could you try again?

[2017-06-17 00:53] kentcdodds commented on #88
Done!

[2017-06-17 00:56] stevemao commented on #88
Thank you @kentcdodds :)

[2017-06-17 00:56] #88 closed

[2017-06-17 01:07] kentcdodds commented on #88
Thank you!

[2017-06-17 07:05] dherges opened #89 "Default `.vcmrc` config file causes JSON parser error"
There is a [default `.vcmrc` file shown in the readme](https://github.com/conventional-changelog/validate-commit-msg#options).

Because the [config file is `JSON.parse()`'d|](https://github.com/conventional-changelog/validate-commit-msg/blob/master/lib/config.js#L8-L13), it causes an "Unexpected token ... in JSON" error. The error is caught and silently suppressed.

I think the `.vcmrc` should be

[2017-06-17 13:23] spirosikmd commented on #89
Hi @dherges! Supporting `vcm.json` instead of `.vcmrc` would be a breaking change. Of course we could support both formats. But maybe README should be more clear that `.vcmrc` should be valid JSON. Also we should not suppress the error and show users a clear message. What do you think?

[2017-06-17 18:37] Garbee commented on #84
Looking over the parser I don't see any reason to not take advantage of it. All it does is alleviate some of the parsing to keep what the message validator logic as concise as possible (and alleviate more maintenance internally.)

I'll take a look at implementing this while I work on my V2 redesign concept.

[2017-06-17 18:43] Garbee opened #90 "Allow multiple configuration options"
Currently the config is hard-coded to use one type of file and only in JSON format. This is not as good for developers since they can't say, use `package.json`, or YAML to get comments, etc. V2 should take advantage of the [config](https://www.npmjs.com/package/config) package to allow multiple file types for the configuration as well as the ability to use `package.json`.

[2017-06-17 22:33] spirosikmd commented on #90
Hey @Garbee! Configuration [through `package.json`](https://github.com/conventional-changelog/validate-commit-msg#usage) is supported, right? Though if `.vcmrc` is used it has precedence over `package.json` configuration.

[2017-06-17 22:44] stevemao commented on #90
[cosmiconfig](https://www.npmjs.com/package/cosmiconfig) supports all major config options.

[2017-06-17 23:01] spirosikmd commented on #90
This is a very good option @stevemao! It will fix #89 as well!

[2017-06-17 23:02] stevemao commented on #84
The parser returns a simple object with all the information you need about the commit message. It means the validation on each part could be _generic_. EG: you could warn if `BREAKING CHANGE` is written as `Breaking changes` or `Fixes #1` as `resolves #1` etc... Types could have the same config as scope, EG:

[code]

[2017-06-18 07:03] dherges commented on #89
Ok. First, for this issue, the README should give a working example and a hint for rc file being valid JSON.

Second, I still think, that a JSON file should have a `.json` file ending. Maybe, it should support both `.vcmrc` and `.vcm.json`. This can be discussed in #90 as the [cosmiconfig](https://www.npmjs.com/package/cosmiconfig) looks a good thing!

[2017-06-18 12:03] Garbee commented on #90
Cosmic looks much better for a library target. I'll look at using that one before the other config library (which is more targeted towards full applications.)

[2017-06-20 10:11] dherges commented on #89
Shall we close this since #91 is merged? The other things can be discussed in #90. wdyt?

[2017-06-20 13:26] Garbee commented on #89
SGTM.

FYI the term to auto-close should be `Fixes {number}` in the commit message instead of `Solves {number}` or other synonyms. I wish GH had more synonym checking but, alas it's fairly hard-coded to a few choices.

[2017-06-20 13:26] #89 closed

[2017-06-21 16:03] DiegoGasco commented on #85
Hello @kentcdodds

There are some messages that pass, and some other that does not, and I'm unable to understand why. Here is an example of another message that fails

[code]

May be any other thing ? the verb conjugation? the nouns used?

[2017-06-21 18:29] spirosikmd commented on #85
Hi @DiegoGasco! I tried your message with latest version v2.12.2 and it passes.

[code]

Can you please provide the output of the validation, which should contain something like `INVALID COMMIT MSG: "<type>" is not allowed type` I guess?

[2017-06-26 15:43] kentcdodds opened #94 "Setup autorelease again"
Because I'm no longer maintaining this package, I decided it would be best for me to delete my npm and github tokens from the travis build and [remove the semantic-release step from `.travis.yml`](https://github.com/conventional-changelog/validate-commit-msg/commit/da9ef5cbbddefea5be7309a57b489e7a2cae9c83). Feel free to [set it up again](https://egghead.io/lessons/javascript-how-to-write-a-javascr

[2017-06-26 16:09] danielo515 commented on #85
I think I have found the problem. The validation is being performed against the previous commit, not the current one. So as long as the previous commit has a valid format, any commit will be accepted. Then, in the next commit, probably a commit with a correct format, the previously bad formatted commit will trigger an exception, leading you to confusion.
Is this the expected behavior or maybe a bu

[2017-07-04 19:06] Garbee commented on #94
I'm working on the V2 update right now. Will keep this open as a reminder to make sure this is all done after that is merged. For now I don't think we'll need the auto-release much since it is mostly documentation changes being submitted currently.

Thank you!

[2017-07-04 21:43] jiaweihli opened #96 "[cli] input is ignored, output is misleading"
The CI docs mention [passing in the commit message](https://github.com/conventional-changelog/validate-commit-msg#ci).

After trying to set this up in CircleCI, I realized that the CLI completely ignores the input arguments.  It actually reads from the `.git/COMMIT_EDITMSG` file, which is the last edited commit message for that git client.  In a CI environment, this'll be empty because the VM didn

[2017-07-05 00:02] stevemao commented on #96
see https://github.com/conventional-changelog/validate-commit-msg/pull/87

[2017-07-05 00:21] jiaweihli commented on #96
From the [releases page](https://github.com/conventional-changelog/validate-commit-msg/releases), it looks like my best bet is rolling back to 2.12.1 in the meantime?

[2017-07-05 02:39] stevemao commented on #96
I believe https://github.com/conventional-changelog/validate-commit-msg/pull/92 should solve the problem. Feel free to give it a shot :)

[2017-07-05 03:39] jiaweihli opened #97 "[cli] Backticks in commit message cause failure"
Version: 2.12.1

When running `yarn validate-commit-msg "$(git log -1 --pretty=%B)"`, backticks are executed since they're interpolated into the argument.

Failure:
https://circleci.com/gh/jiaweihli/monapt/53

[2017-07-05 03:41] jiaweihli opened #98 "[cli] Long commit message bodies cause failure"
Version: 2.12.1

When running `yarn validate-commit-msg "$(git log -1 --pretty=%B)"`, long commit messages cause an `ENAMETOOLONG` error since the argument is too long.

Failure:
https://circleci.com/gh/jiaweihli/monapt/57

[2017-07-05 03:42] jiaweihli commented on #96
Cool, I haven't tried it out yet but I've verified 2.12.1 does work.

[2017-07-05 04:19] stevemao commented on #97
where are the backticks? what does `"$(git log -1 --pretty=%B)"` expand as?

[2017-07-05 04:20] stevemao commented on #98
Send a PR to improve the command :)

[2017-07-05 04:20] jiaweihli commented on #97
Copying the full commit message from the CircleCI link:

[code]

This happens whenever there are any backticks, position isn't a factor.

[2017-07-05 12:45] Garbee commented on #98
Can you give an example of a "long commit message"? Without a reproducible test case there isn't much that can be done that isn't stabbing in the dark.

Thank you.

[2017-07-05 13:09] jiaweihli commented on #98
Are you having trouble opening the CI link at http://circleci.com/gh/jiaweihli/monapt/57?

[2017-07-05 13:19] jiaweihli commented on #98
Ah, I see - there's something buggy with CircleCI.
If you toggle the `Validating last commit message` section, you can see the console output.

[2017-07-05 14:45] Garbee commented on #97
PR #99 adds a test internally for this. No internal code changes are needed for backticks to function correctly in parsing since they are contained within a string.

This seems like a problem with the shell interpreting the backticks as it is parsed. So you'd need to escape the commit message before handing it to the validator.

[2017-07-05 14:51] Garbee commented on #98
<details>
<summary>Long commit message example</summary>

[code]

</details>

There is the commit message in question for testing.

@jiaweihli It is best to provide all the information possible *inline* without linking to external sources unless required for some reason. That way in case anything externally changes (like a push to that PR to fix the problem) the content of the issue is still whole

[2017-07-05 14:56] Garbee commented on #98
Yup, just tested this message locally and it works as expected. So the problem is somewhere in the CI setup. PRs to address it welcome, but we can't test and debug each CI environment ourselves to fix problems.

Reproduction steps:
1. New directory
2. `git init`
3. Touch file
4. Add file and commit with the demo message
5. Add `validate` script to `package.json` with the value of `validate-commit-

[2017-07-05 15:28] jiaweihli commented on #97
I see...have you considered using a different interface for the CLI to avoid this issue?
Rather than passing in the commit message, you could pass in a git reference and default to `HEAD`.

If this isn't viable, maybe the documentation should be updated to note the caveat re: escaping?

[2017-07-05 15:41] Garbee commented on #97
What would a "different interface" be? Could you elaborate on this a bit with some details about what you're thinking could solve the issue internally.

Handling git in node isn't easy, especially to get cross-platform support done well. By asking that the pure message be passed it makes what the package needs to do much simpler and direct. Therefore, far easier to manage.

Yup, working on this sh

[2017-07-05 23:19] stevemao commented on #97
Agree. A side note: Maybe we could accept multiple inputs and concat them, and then treat the whole string as a input.

[2017-07-05 23:54] Garbee commented on #97
My only fear here is we could end up validating an incorrect message fully. Since bash in particular uses spaces to denote different parts, the spaces (and newlines?) are stripped. So when you concatenate them after bash, you're merging without some spaces and we don't know where to put them back with accuracy.

[2017-07-07 22:49] stevemao commented on #96
I'm closing this since https://github.com/conventional-changelog/validate-commit-msg/pull/92#issuecomment-313691307 is merged. Please comment if I'm wrong @maxcnunes @Garbee Thanks.

[2017-07-07 22:49] #96 closed

[2017-07-08 10:23] anrie opened #100 "Configurable commit scopes"
Hey,

we are currently trying to improve the quality of our commit messages and settled on an approach similar to this one: https://dev.bleacherreport.com/how-we-use-commitizen-to-clean-up-commit-messages-a16790dcd2fd

One remaining issue is the validation of our scopes: While there seems to be some standardization, when it comes to types (https://github.com/commitizen/conventional-commit-types),

[2017-07-08 11:49] Garbee commented on #100
Doesn't the `scope` configuration option handle this case already? I added it a few months ago so you may need to update if you haven't done so in a while.

[2017-07-08 13:22] anrie commented on #100
Hm, as far as I can see I am using the latest version and as I said I am well aware of the option to define allowed scopes in `validate-commit-msg`.

My question was more about an option to reuse the scope definition across different libs in the `conventional-changelog` ecosystem. Basically I'd like to define my scopes once and not again for every lib.

But I guess that's hard to solve from within

[2017-07-08 13:42] Garbee commented on #100
ah ok. That is an interesting meta discussion about the ecosystem as a whole.

cc @stevemao

 I think we could handle it easily enough if we abstracted getting the root config piece into its own sub-package for everyone to share. That way the code to get the shared config is shared and only maintained in one place. At that point we'd just merge where needed into the internal configs for each proje

[2017-07-08 22:47] stevemao commented on #100
https://github.com/conventional-changelog/conventional-changelog/pull/146 maybe a good place to start

[2017-07-10 14:29] oupala opened #101 "losing the commit message when validation fail"
This is a great module as it can help to validate commit messages from a team, but there is a *pain point*: losing the commit message when validation fail.

When trying to commit with a long and multiline commit message, the message is lost if it fails to pass validation (except the first line that is outputted on the console).

Is there a way to avoid losing such messsage, which can become **very

[2017-07-10 15:17] Garbee commented on #101
Can you check `.git/logs/incorrect-commit-msgs` in the project and see if the whole message is stored there?

If not then we should certainly be able to make it so the whole message is put there.

Either way though, we should have the error message tell people the whole message is there for retrieval.

[2017-07-11 07:30] danielo515 commented on #85
Anyone has any answer about why the validation is being performed against the previous commit instead of the current one?

[2017-07-11 11:56] oupala commented on #101
Yes, the whole message is stored there.

But not only this message: all previous messages and comments are also stored there. It is like a garbage collector of all unused commit message.

But it is not very user-friendly to tell user, "go and search in this hidden file to check if you can find your message among all the lost messages in the garbage". Wouldn't there be a more user-friendly way to t

[2017-07-11 15:21] Garbee commented on #101
It should always be appended to the file. So instead of that wording we say,

Now, we should do some delimiter on the messages instead of just a line break. Like `#` for 80 columns.

We won't print the entire message in the console return since: Is that truly beneficial to be there? Generally, questionable. But there are scenarios where people need minimal output. And generally in CI services you

[2017-07-11 15:40] Garbee commented on #85
This would need its own bug report with steps to reproduce. Or even a PR with a test case if you can manage writing one. There is no reason I can see within the code that this case should occur.

On the note of multline messages... They shouldn't matter. We split out the first line (since that is the main commit message) and only validate that data.

[2017-07-11 15:57] danielo515 commented on #85
Yes, the multi line issue is resolved. The actual problem was the validation of the previous commit. I'll open a new issue for that

[2017-07-11 15:57] #85 closed

[2017-07-11 16:28] oupala commented on #101
I was personally thinking about displaying the faulty message on the console. It is the easier solution when there is an error in interactive mode.

Why are you talking about CI? Does it have something to do with commit message validation?

By the way, is it **validate-commit-msg** that creates the file `.git/logs/incorrect-commit-msgs`?

[2017-07-11 16:31] Garbee commented on #101
yes

Typically you'd use CI to validate the messages as well before things are merged to verify they are right. As locally all anyone needs to do is `--no-verify` when committing to bypass the hooks.

[2017-07-14 19:35] maxcnunes commented on #98
@Garbee @jiaweihli I believe my [commit](https://github.com/conventional-changelog/validate-commit-msg/commit/84864950ad872050acaf12646c79335a76fd6412) solves this problem. At least that was the reason drove me to create that PR.

[2017-07-14 19:37] maxcnunes commented on #94
@Garbee Could you run a manually release? I was hoping get that [change](https://github.com/conventional-changelog/validate-commit-msg/commit/84864950ad872050acaf12646c79335a76fd6412) in my project. Thanks!!

[2017-07-14 20:24] Garbee commented on #94
Ah, yup. Forgot about this on Monday, had an interview. I should be able to get a patch out later this evening or early tomorrow. Thanks for the reminder!

[2017-07-14 20:27] maxcnunes commented on #77
@Garbee You could close it since that PR has been merged already.

[2017-07-14 20:34] Garbee commented on #77
Good spot. Thanks @maxcnunes.

[2017-07-14 20:34] #77 closed

[2017-07-19 02:48] nickbalestra commented on #94
Happy to help to set it up again as I see we are some release behind merged PR now.
Do you want the encrypted tokens directly on the `travis.yml` or via travis UI (for the later I guess I need to be added to the org so that I can access travis settings page for this repo)

[2017-07-19 14:59] Garbee commented on #94
Sorry, looking at a release of this now. Some emergency stuff came up this week and I haven't been around my computer much.

[2017-07-19 20:48] nickbalestra commented on #94
No worries @Garbee, I'm happy to help.
As semantic-release still there (apart from the cmd script in travis to run it), if you grant me publishing right, I can encrypt both tokens (GH_TOKEN and NPM_TOKEN) in the travis.yml with a PR, that should make it working again. Thoughts?

[2017-07-19 20:52] Garbee commented on #94
Access granted on NPM, giving you repo access now to the settings. Thanks for the help here, looks like things are going to be crazy through tomorrow for me. :frowning:

[2017-07-19 20:53] Garbee commented on #94
hmm, looks like I don't have repo admin access since the org move. I'll work on that later. Is just NPM push access enough for now to get the job done?

[2017-07-19 20:54] nickbalestra commented on #94
Yes it should, as I should be able to encrypt the tokens directly on the `travis.yml` instead of putting them through the travis admin UI, let's try :) And,  thank you!

[2017-07-20 00:22] stevemao commented on #94
@Garbee you should be an admin now

[2017-07-20 21:10] nickbalestra commented on #94
Mmm, @Garbee  so it seems it successfully published [the release on npm](https://www.npmjs.com/package/validate-commit-msg) but [wasn't able](https://travis-ci.org/conventional-changelog/validate-commit-msg) to publish the release-nots on github.

Could this be related to https://github.com/conventional-changelog/validate-commit-msg/pull/92 and other fixes being merged but not published since auto

[2017-07-20 21:24] Garbee commented on #94
Looks like it is from the org move. Looking into it now.

[2017-07-20 21:31] Garbee commented on #94
Appears that #103 will fix it by removing the redirect from the old org.

[2017-07-20 21:44] Garbee commented on #94
Since the semantic release isn't detecting a relevant change it isn't pushing a new release. So I'll do a manual one and if it doesn't trigger on the next we'll debug it further.

Thank you for the help here @nickbalestra. It's appreciated so much!

[2017-07-20 21:44] #94 closed

[2017-07-20 21:49] Garbee commented on #94
And it is pushing now! New release is on GH as well.

[2017-07-20 22:22] nickbalestra commented on #94
Awesomeness!!!

[2017-07-28 13:58] cmalard opened #105 "autoFix does not fix"
Hello guys,

Not really sure to understand autoFix:

Actually it is not renaming the commit.
And I do not see anything to re-write the COMMIT_MSG.
Did I missed something ? @spirosikmd Sorry if this is the case, I would love to use that ;-)

[2017-07-28 14:08] Garbee commented on #105
I'll take a look at this after an interview in a bit. The code appears to be in place. But I'm not sure how we'd auto-update a commit message on-the-fly before git gets it back.

[2017-07-28 17:20] spirosikmd commented on #105
Hi @cmalard! I think naming is a bit confusing here indeed. It does not auto fix the commit message. The code in place temporarily adjusts the commit message (type and subject), to not fail the validation. Basically this option should probably be renamed to `ignoreCase`? Something like this! What do you think @Garbee?

[2017-07-28 19:40] Garbee commented on #105
Renaming doesn't really do much until v2 when we can remove the current config option name. For now a quick documentation update is the best path forward.

I'm not even seeing a great use-case for `ignoreCase` unless your software consuming the structure is adjusting things as well. Otherwise you could end up with a separate `button` and `Button` section of update docs when really they are the sam

[2017-07-28 20:03] spirosikmd commented on #105
I agree with being strict and consistent. Maybe actually auto-fixing the commit message would be an option. Instead of just ignoring case during validation, which sounds fragile. The purpose of `autoFix` was to fix #37. But now that I am going through it, we should have better actually auto-fix the commit message. I am not sure if this should be a feature for v2.

[2017-07-28 20:39] Garbee commented on #105
Looks like editing it in-place should be possible. So the current expected functionality can be fixed.

Ref: https://git-scm.com/docs/githooks#_commit_msg

If someone wants to PR this I can review it once it lands. Otherwise it'll be Sunday or Monday before I can work on it myself.

[2017-07-29 03:36] cmalard commented on #101
We could use [this idea](https://www.reddit.com/r/git/comments/4elwd7/a_little_confused_on_using_the_commitmsg_hook/d7uxuli/):
- Save the message to `.git/COMMIT_EDITMSG_ERR` or something like that
- Remove the file if a commit is valid
- That way we could load it with a `prepare-commit-msg` hook, that would be cool :beers:

[2017-07-29 14:15] #105 closed

[2017-07-29 14:17] Garbee commented on #101
Ideally, we'd only save the file if the message is invalid. So removing a valid one wouldn't be necessary. If it exists when the hook starts, remove it so it doesn't obstruct things later.

We'd need to still maintain the current file that appends. Just in case anyone has built tooling around that already by chance. In v2 it can be chopped.

SGTM, PRs for the change much welcome.

[2017-07-29 14:20] Garbee commented on #11
I'm wondering why this should be this projects concern. In my view, `validate-commit-msg` simply validates a provided message. That's it. If you're merging a branch, within your code you can do a log check and pump each message in and load up all the invalid ones to throw an error about if needed or pass if successful on your own.

I feel like we should aim to minimize the git knowledge contained

[2017-07-29 19:19] cmalard commented on #11
In fact, it is quite complicated to check all new commits on a branch.
I've managed to do it in bash, take a look:
[code]
This is not simple, even if we provide this script in the README to help users. And this is tricky, one character `|` is used to split the commits. Not bullet-proof.
A command like the one proposed `validate-commit-msg --from=develop` would be a great help.

This is the same ap

[2017-07-31 07:46] stevemao commented on #11
I feel like we could make a seperate module which does it.

[2017-08-01 05:22] cmalard commented on #11
How would you do it ? Use it ?
Not sure to see what you guys think about.

[2017-08-01 07:12] stevemao commented on #11
Yeah I'd create a wrapper around this module.

[2017-08-01 18:49] cmalard commented on #11
As I see it, this module will be refactored to use [commitlint](https://github.com/marionebl/commitlint) or [conventional-commits-parser](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-commits-parser).
So all the validation process would go out of the scope of `validate-commit-msg`, it would become a cli tool only.

In this scenario, I would expe

[2017-08-01 23:47] stevemao commented on #11
I definitely think its better. The wrapper could just expose all methods this module has. I think the important thing is how the architecture looks like after the refactor. Does it make sense to add such feature in the codebase.

[2017-08-02 10:08] Garbee commented on #11
I feel kinda weird having this functionality in the package. The validator handles one task and does it well enough. The problem is this is asking for the validator to take **responsibility** of this need now and to maintain it in the future. Which includes making sure it works consistently across platforms and different environments. That's not as easy as it may seem at first.

I have no problem

[2017-08-02 10:08] #11 closed

[2017-08-02 17:58] cmalard commented on #11
Well, if I make my own package / fork this project, I do not see the benefit for the community.
The whole point of #84 was to merge efforts & tools.
[commitlint](https://github.com/marionebl/commitlint) could handle the validation.
`validate-commit-msg` is already used by people as a CLI tool.
Let's continue toward this path together, not divided.

[2017-08-03 12:59] Garbee commented on #11
Looking over commitlint, what is this project providing that it doesn't already do?

Looks to me like the path forward together is best to deprecate this project and forward people to commitlint.

We never asked you to *fork the package*, we asked you to write a *wrapper* tool that depends upon this one for validation in which you then provide the functionality you think others will want. To battl

[2017-08-03 13:03] Garbee opened #110 "Investigate commitlint differences"
I'd like to have a detailed look at [commitlint](https://github.com/marionebl/commitlint) and see what their offering is compared to this project. It seems to me like for the main points they have a much better CLI interface for users. Depending on where the offerings differ we may want to wrap `commitlint` or if they are similar enough approach with suggestions to include our offerings into their

[2017-08-03 14:02] cmalard commented on #110
If it appears that comitlint could handle all the lint, we should consider wraping it and convert validate-commit-msg to a full-feature cli that could handle Git and all that things far away from a linter :-)

[2017-08-03 14:49] Garbee commented on #110
Specifying git specific stuff more heavily IMO would just be a whole new project.

[2017-08-04 00:12] stevemao commented on #110
CC @marionebl

[2017-08-04 07:02] marionebl commented on #110
Hey there, I'm the author of [commitlint](https://github.com/marionebl/commitlint). Currently I'm the only maintainer of the associated `@commitlint` packages. I'd be glad to join efforts on this and grant interested contributors maintainer status on the repo.

As far as I can see commitlint and validate-commit-msg are very similiar. What I noticed immediately are the different configuration conce

[2017-08-04 11:18] Garbee commented on #110
Yea, the config changes aren't that difficult to work though. It seems to me looking it over that all the base functionality is there.

Overall I personally think marking this package as deprecated/abandoned whatever the NPM term for it is and pointing to commitlint is the best path forward. So the community can focus on fewer tools to handle this simple task and we can improve the UX which you al

[2017-08-04 12:16] SteveALee opened #111 "Fails on windows - no native binary?"
When committing code in cyclic-router which has this set up as a commit hook -

[code]

I tried calling from gtit4windows bash but still fails as npm insists on calling cmd on Windows.

Might work around with makeintg the npm hook script something like `"bash -c\"node ./node_modules/.bin/validate-commit-msg\""` but quoting can soon become a nightmare

[2017-08-06 03:19] cmalard commented on #111
Hi @SteveALee ,

This is an issue with [cyclic-router](https://github.com/cyclejs-community/cyclic-router/blob/master/package.json#L57,L61) and the way the call validate-commit-msg.
They should do :
[code]
Plus, not an issue here but ghooks is deprecated.

You should create the issue there, nothing we can do here.

[2017-08-06 08:49] olstenlarck opened #112 "When invalid message, it throws ENOENT error too"
Because of no existence of `./.git/logs/incorrect-commit-msgs`
[code]

[2017-08-06 08:50] SteveALee commented on #111
Thanks for the correction. I rather assumed the usage was correct. I appreciate the heads up 're ghooks, will send cyclic-router a PR.

[2017-08-06 08:50] #111 closed

[2017-08-06 08:55] charlike commented on #112
Probably, after glance look over the code, comes from [lib/cli.js#L95](https://github.com/conventional-changelog/validate-commit-msg/blob/master/lib/cli.js#L95) and L86.

For some reason i testing it in just initialized repo.

[2017-08-06 09:51] Alice-anjali opened #113 "using .vcmrc file returns 'true' even for invalid commit messages"
I followed all the steps provided in the documentation and used .vcmrc file for configuration. It returns 'true' for both valid and invalid commit messages along with a log message for invalid commits.
![screenshot from 2017-07-16 01-15-23](https://user-images.githubusercontent.com/20883037/29002169-2ec51538-7aba-11e7-804b-6c4bb6a0d785.png)

I tried again after removing .vcmrc file. It works fine,

[2017-08-06 15:13] cmalard commented on #112
Hi @charlike :-)

Should not be an issue :o

What's your Node version ?

[2017-08-06 15:28] cmalard commented on #113
Hi @Alice-anjali ,

`.vcmrc` has precedence over config in `package.json`, so if you set `warnOnFail: true`, looks like it did what you asked

[2017-08-06 16:05] Alice-anjali commented on #113
Hey @cmalard.. thanks for replying :-)
I have 2 doubts. As you can see, I have mentioned that I used .vcmrc file first. But on checking the commit messages, it returns 'true' for both valid and invalid commits [This is my first doubt]. So, I removed .vcmrc file and tried again, it works fine, but it's logging error messages for invalid commits which I don't want. That's when I wrote configurations

[2017-08-06 16:59] cmalard commented on #113
There is no option to stop validate-commit-msg from logging errors to the console (cf my quote of the doc ;-) )

About your first doubt, could you please provide the `.vcmrc` file you used ?

[2017-08-06 17:02] cmalard commented on #113
If your goal is to validate a branch, [try this](https://github.com/cmalard/validate-commit-msg/commit/63e4c8d72f187fa9673abb881f1b5f0a57000525) :-)

[2017-08-06 19:01] Alice-anjali commented on #113
I understood what you said about warnOnFail. I misread the documentation earlier. My code is running successfully now.
Sorry for the inconvenience and thanks a lot for your help :-D

[2017-08-06 19:13] #113 closed

[2017-08-06 19:42] charlike commented on #112
Hm, then it's something other.

8.2.0

[2017-08-07 02:31] cmalard commented on #11
Just see this nice GitHub App : https://github.com/tlvince/validate-commit-msg-bot

[2017-08-08 23:27] stevemao commented on #110
No. I simply didn't know `commitlint`. Let's merge them then :)

[2017-08-09 01:05] Garbee commented on #110
SGTM. I'll research the path tomorrow afternoon. Should be fairly straightforward. Migration guide, mark as deprecated, point to commitlint. But, still seeing how other projects handled these kinds of things for any other cautions to watch for.

[2017-08-10 18:51] gauntface opened #115 "Add example to log"
Just landed on a repo that used this and the default log isn't super helpful to understand what is needed.

Instead of:

[code]

An example would commit would be helpful:

[code]

[2017-08-10 19:12] Garbee commented on #115
Hello Matt,

I'm currently in the process of deprecating this package and forwarding people over to [commitlint](https://github.com/marionebl/commitlint). Getting things in place for the transition now.

Do you feel this is somewhat-important to be fixed here? Could we focus this kind of feedback over to commitlint instead to get that library's end user experience improved for the longer haul?

Th

[2017-08-10 19:23] gauntface commented on #115
Totally makes sense if that's the case, will nudge Firebase to move over ;)

[2017-08-10 19:23] #115 closed

[2017-08-10 19:28] Garbee commented on #115
Thanks Matt. I completely see your concern here and I myself would like to see this kind of output for end users. Not everyone knows what the structure means or stands for. I'm simply considering imminent deprecation with improving the recommended library for the better in the same swoop.

It would be a good bit of work to make sure all the tests are updated properly and that the added output is o

[2017-08-12 02:55] travi commented on #110
I'd recommend adding some sort of messaging to the npm and github readmes if the plan truly is to deprecate. It's a bit confusing to see the deprecation message from npm and find no evidence that it is legit from the project until finding this thread.

[2017-08-12 21:03] Garbee commented on #110
Yea, I'm working on it. Just got the deprecation message up on NPM first. Then got distracted with other work.

[2017-08-14 16:01] travi commented on #110
one difference that i've noticed after switching a few projects is that ability to [use `WIP` to skip validation](https://github.com/conventional-changelog/validate-commit-msg#other-notes) does not seem to be available. is there a plan to port missing features like this?

[2017-08-14 16:45] Garbee commented on #110
@travi Please bring up any issues with Commitlint.

IMO that type of thing belongs in your scripting to determine whether or not to validate though. But, that's just my opinion on how this kind of thing should work.

[2017-08-14 17:21] travi commented on #110
sure thing. i opened https://github.com/marionebl/commitlint/issues/60, but thought it should also be included here too, since your team was evaluating differences.

it seems like an insignificant feature, but my team has found it to be very valuable and i think it would be somewhat complex to implement separately in every one of our repos. worst case, i could create a separate cli tool to handle

[2017-08-14 17:38] Garbee commented on #110
This is where you'd create a package to require for your team's/company's CI system and require it to easily share and re-use the scripts. But, these packages should stick to validating the messages alone and any extra work be put into users hands. That keeps the packages minimal and easy to maintain and provides developers full control over what goes in and how to handle failures.

[2017-08-14 19:28] travi commented on #110
Understood...

i'm all for keeping tools minimal, but i'm suggesting that this seems to me to be a bit more core than simply "extra work". there are already [some skip rules built into `commitlint`](https://github.com/marionebl/commitlint/issues/60#issuecomment-322280466).

plus, if you went as far as [configuring ci to reverify](https://marionebl.github.io/commitlint/#/guides-ci-setup?id=linting-

[2017-08-14 20:40] marionebl commented on #110
Let's automate this in a small lib/cli combo

[2017-08-15 13:49] iamstarkov commented on #110
It is confusing as hell.

[code]

[2017-08-15 13:50] iamstarkov commented on #110
pls make change deprecation message to contain a link to a repo

[2017-08-15 13:51] iamstarkov commented on #110
it took me half an hour to find out relevant replacement

[2017-08-15 13:58] iamstarkov commented on #110
is there any migration guide?

[2017-09-08 13:18] FezVrasta opened #116 "Doesn't work if package isn't in git root"
I see that someone already sent and merged a PR to fix this issue a while ago, but I still have this problem.

This is all I have:
[code]

but when I try to commit I get:

[code]

Note that it refers to `/mytestproject/apps/web/.git`, while my git root is actually at `/mytestproject`

[2017-09-08 13:22] FezVrasta commented on #116
Umh... not sure why but after I tried to create a symlink to the .git folder and I deleted it everything worked fine. Maybe the project was dirty somehow.

[2017-09-08 13:22] #116 closed, assigned to nobody

[2017-09-10 23:17] AndersDJohnson opened #117 "feat(types): support export default"
Support ES2015 modules export default for the custom `types` configuration. Simply prefer a `default` property on the specified module if it exists.

[2017-09-11 12:54] Garbee commented on #117
This package is deprecated and won't be receiving any new features. Check out [commitlint](https://github.com/marionebl/commitlint) as an alternative with a superior UX for users.

Thank you.

[2017-09-11 12:54] #117 closed, assigned to nobody

[2017-09-26 11:37] danielo515 commented on #110
I am also interested on a migration guide. I use this package to validate commit messages using husky and I can't see how commitilint can be a replacement

[2017-09-26 14:02] Garbee commented on #110
Commitlint at the core does the same validation system this package does. You simply have to do some extra scripting around it for CI and git hooks. I'm trying to make the time to write a migration guide to help out with getting information on how around. Removing the built in scripting saves a lot of extra code to maintain in the package that doesn't strictly need to be there. Which has lead to b

[2017-09-27 06:16] danielo515 commented on #110
Then it's not the same solution. I just want to add a dependency and put it inside my commitmsg hook, nothing else. Saying that this package is deprecated and pointing people to another package that has "something" in common with this one but that is not a direct replacement is confusing. Personally I will not use any of those, I'll leave both in favor of a more simple and not deprecated solution.

[2017-09-27 07:34] marionebl commented on #110
@danielo515 Could you point at what exactly is missing for your use case and what that use case is (lint on commit, lint on CI, lint PRs)? I'm the author of commitlint and never used validate-commit-msg, so the differences are rather fuzzy for me. I am pretty sure we can easily make the transition smoother with simple stuff, so your input is greatly appreciated.

[2017-09-27 10:27] danielo515 commented on #110
Hello @marionebl
I'm just interested in commit message validation using angular style. The way I was doing this with validate-commit-msg was through husky. It was as simple as this:

[code]
Is that possible with your tool ?

[2017-09-27 11:43] Garbee commented on #110
If you're re-using the exact same scripting, then make a package to share it between projects.

The goal of the package is to *validate a message structure*. Not to handle the individual niches of each persons desired workflow with git (or any other version control system.) The git logic is becoming increasingly complex as people want the package to handle more robust cases. All of which are valid

[2017-09-27 13:39] marionebl commented on #110
@danielo515, this should do the trick for local linting with husky:

[code]

[code]

[2017-09-27 13:48] marionebl commented on #110
I'm with @Garbee on separation of concerns here. As I personally use commitlint a lot on Travis and Gitlab CI I might come around wrapping up the more elaborate scripts as plug and play npm package + cli

[2017-09-27 13:48] danielo515 commented on #110
And that is the usage I was giving to it. I didn't need anything simpler nor more complex

Yes, a big deprecation warning on the very top of your repository.

[2017-09-27 14:36] Garbee commented on #110
Not exactly. You were also desiring us to handle all the git logic on your behalf within the same project. Which is messy and leads to difficult to track problems and refactoring.

I'm not sure what you mean here. If you're asking we add a warning, yes I need to find the time to do that. If this is complaining about the warning in the CLI when you install the package, well it is a *warning*. It is

[2017-10-11 01:55] Iwouldliketobeapig opened #118 "sorry"

[2017-10-11 01:57] #118 closed, assigned to nobody

[2017-11-19 13:43] marionebl commented on #110
@Garbee I finally carved out some time to write a migration guide for `validate-commit-msg` users.

It is available here: http://marionebl.github.io/commitlint/#/guides-upgrade?id=validate-commit-msg

Could you link there from the deprecation warnings? Thank you!

[2017-11-19 15:25] Garbee commented on #110
That's awesome. Thanks @marionebl. Yea I'll get it linked in the readme here later today while I'm also updating the npm message.

[2018-02-05 14:33] hutson commented on #112
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #112 closed

[2018-02-05 14:33] hutson commented on #110
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #110 closed

[2018-02-05 14:33] hutson commented on #101
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #101 closed

[2018-02-05 14:33] hutson commented on #100
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #100 closed

[2018-02-05 14:33] hutson commented on #98
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #98 closed

[2018-02-05 14:33] hutson commented on #97
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #97 closed

[2018-02-05 14:33] hutson commented on #90
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:33] #90 closed

[2018-02-05 14:34] hutson commented on #84
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:34] #84 closed

[2018-02-05 14:34] hutson commented on #83
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:34] #83 closed

[2018-02-05 14:35] hutson commented on #38
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:35] #38 closed

[2018-02-05 14:35] hutson commented on #25
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:35] #25 closed

[2018-02-05 14:35] hutson commented on #18
This package has been deprecated. Please use https://github.com/marionebl/commitlint instead.

[2018-02-05 14:35] #18 closed